APP_ENV=development

MERCHANT_IDENTIFIER=
BASE_URL=
HAROLD_API_KEY=
STRIPE_PUBLISHABLE_KEY=

ANALYTICS_VERBOSE_DEBUG=false
ANALYTICS_FIREBASE_ENABLED=true
ANALYTICS_META_ENABLED=true
ANALYTICS_TIKTOK_ENABLED=true
ANALYTICS_META_AUTO_LOG_APP_EVENTS=false

META_APP_ID=
META_CLIENT_TOKEN=

TIKTOK_ANDROID_APP_ID=
TIKTOK_ANDROID_SDK_KEY=
TIKTOK_IOS_APPLE_APP_STORE_ID=
TIKTOK_IOS_TIKTOK_APP_ID=
TIKTOK_IOS_APP_ID=
TIKTOK_IOS_SDK_KEY=
TIKTOK_IOS_ACCESS_TOKEN=
TIKTOK_ANALYTICS_DEBUG=false
TIKTOK_ANALYTICS_VERBOSE_LOGS=false
